<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/clap.svg" class="imgHeight" alt="Bohot Hard">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">4</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">5</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/thumbs-up.svg" class="imgHeight" alt="Ek Number">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">6</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">4</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/ok.svg" class="imgHeight" alt="Killed it">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">5</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">2</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/clap.svg" class="imgHeight" alt="Bohot Hard">
                <img src="../../../assets/img/brand/thumbs-up.svg" class="imgHeight imgMargin" alt="Ek Number">
                <img src="../../../assets/img/brand/ok.svg" class="imgHeight" alt="Ek Number">
            </div>
            <div class="brand-card-body">
                <div>
                    <a class="pointer-cursor btn btnClick" routerLink="add">
                        <i class="fa fa-plus pr-1" aria-hidden="true"></i>
                        <span class="text-uppercase text-muted ">Give Kudos</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->