<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/clap.svg" class="imgHeight" alt="Bohot Hard">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">4</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">5</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/thumbs-up.svg" class="imgHeight" alt="Ek Number">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">6</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">4</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/ok.svg" class="imgHeight" alt="Killed it">
            </div>
            <div class="brand-card-body">
                <div>
                    <div class="text-value">5</div>
                    <div class="text-uppercase text-muted small">Awarded</div>
                </div>
                <div>
                    <div class="text-value">2</div>
                    <div class="text-uppercase text-muted small">Received</div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
            <div class="brand-card-header bg-default">
                <img src="../../../assets/img/brand/clap.svg" class="imgHeight" alt="Bohot Hard">
                <img src="../../../assets/img/brand/thumbs-up.svg" class="imgHeight imgMargin" alt="Ek Number">
                <img src="../../../assets/img/brand/ok.svg" class="imgHeight" alt="Ek Number">
            </div>
            <div class="brand-card-body">
                <div>
                    <a class="pointer-cursor btn btnClick" routerLink="add">
                        <i class="fa fa-plus pr-1" aria-hidden="true"></i>
                        <span class="text-uppercase text-muted ">Give Kudos</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<div class="animated fadeIn">
    <div class="row" *ngIf="kudosList.length">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" *ngIf="kudosList">
                    <div class="card-title h4">Kudos given</div>
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Employee</th>
                                <th class="text-center">Kudos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of kudosList">
                                <td>{{data.employee}}</td>
                                <td class="text-center">{{data.kudos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
