<a class="pointer-cursor btn btnClick pb-4" routerLink="add">
    <i class="fa fa-plus pr-1" aria-hidden="true"></i> <span>Give Badges</span>
</a>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" *ngIf="badgesList">
                <div class="card-title h4">Badges given</div>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Employee</th>
                            <th class="text-center">Badge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of badgesList">
                            <td>{{data.employee}}</td>
                            <td class="text-center">{{data.badges}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
