<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Your performance</h4>
          <div class="small text-muted">2019</div>
        </div>
      </div>
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColours"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Leaderboard
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Employee</th>
                <th class="text-center">Project</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default_user.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Ashutosh</div>
                  <div class="small text-muted">
                    Won 5 badges
                  </div>
                </td>
                <td class="text-center">
                  Breeze
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default_user.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Jane</div>
                  <div class="small text-muted">
                    Won 4 badges
                  </div>
                </td>
                <td class="text-center">
                  App Orchid
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default_user.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Saurabh</div>
                  <div class="small text-muted">
                    Won 3 badges
                  </div>
                </td>
                <td class="text-center">
                  FPG
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default_user.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Anand</div>
                  <div class="small text-muted">
                    Won 3 badges
                  </div>
                </td>
                <td class="text-center">
                  Breeze
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default_user.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  </div>
                </td>
                <td>
                  <div>Amit</div>
                  <div class="small text-muted">
                    Won 2 badges
                  </div>
                </td>
                <td class="text-center">
                  Breeze
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
